/* variables */
:root {
  --text-color: white;
  --dark-text-color: gray;
  --font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  --westernFont: "Holtwood One SC", sans-serif;
  --visbyFont: "Visby", sans-serif;
}

/* override default browser link styling */
a:-webkit-any-link {
  color: inherit;
}


ul {
  list-style-type: none;

  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  background-image: linear-gradient(to right, white, darkgrey, #80461B);
}

li {
  display: inline;

}



.navlinkLight {
  display: block;
  color: var(--text-color);
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size:x-large;
  font-family: var(--westernFont);
  float: right;
}

.navlinkDark {
  display: block;
  color: var(--dark-text-color);
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size:x-large;
  font-family: var(--westernFont);
  float: right;
}


#logo {
  height: 7%;
  width: 7%;
  justify-self: left;
  padding: 0;
}

.bannerLight {
  background-image: url('./images/pexels-fwstudio-139309.jpeg');
  color: var(--text-color);
  font-family: var(--westernFont);
  padding-right: 7%;
  padding-left: 7%;
  padding-bottom: 4%;
  padding-top: 2%
}

.bannerDark {
  background-image: url('./images/pexels-fwstudio-139309.jpeg');
  color: var(--dark-text-color);
  font-family: var(--westernFont);
  padding-right: 7%;
  padding-left: 7%;
  padding-bottom: 4%;
  padding-top: 2%
}

#banner h1 {
  text-align: left;
  font-size: 3.5em;
  text-shadow: 3px 2px black;
}

#banner h2 {
  font-size: 2.1em;
  margin-left: 20%;
}

#banner h3 {
  font-size: 2.1em;
  margin-left: 44%;
}

#banner .shopBtnLight {
  float: right;
  margin-right: 15%;
  font-size: 2em;
  border-radius: 6px;
  font-family: var(--westernFont);
}

#banner .shopBtnDark {
  float: right;
  margin-right: 15%;
  font-size: 2em;
  border-radius: 6px;
  font-family: var(--westernFont);
  background-color: darkgrey;
}

#products {
  margin-top: 3em;
  
}

#products h1 {
  text-align: center;
  font-family: var(--westernFont);
}

.product {
  margin-top: 3em;
  height: 9em;
  width: 9em;
  background-image: url('./images/istockphoto-106548715-612x612.jpeg');
  font-size: 19px;
  font-family: var(--westernFont);
  color: var(--text-color);
  border-color: #80461B;
  border-style: groove;
  border-radius: 5px;
}


/* media queries */
.navlinkLight:hover {
  background-color: #111;
  cursor: pointer;
}

.navlinkDark:hover {
  background-color: #111;
  cursor: pointer;
}

#banner button:hover {
  background-color: #80461B;
  cursor: pointer;
}

.product:hover {
  text-shadow: 3px 2px black;
  cursor: pointer;
}