/* variables */
:root {
  --text-color: white;
  --dark-text-color: #008bff;
  --westernFont: "Holtwood One SC", sans-serif;
  --visbyFont: "Visby", sans-serif;
  --light-background: linear-gradient(to right, white, white, white, white, white, white, #80461B);
}

/* override default browser link styling */
a:-webkit-any-link {
  color: inherit;
}


.navLight {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  background-image: var(--light-background)
}

.navDark {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  background-image: linear-gradient(to right, white, navy, black);
}

li {
  display: inline;

}

h1 {
  text-align: center;
  font-family: var(--westernFont);
}

.navLinkLight {
  display: block;
  color: var(--text-color);
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size:x-large;
  font-family: var(--westernFont);
  float: right;
  text-shadow: 1px 2px black;
}

.navLinkDark {
  display: block;
  color: var(--dark-text-color);
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size:x-large;
  font-family: var(--westernFont);
  float: right;
  text-shadow: 1px 2px black;
}


#logo {
  height: 8%;
  width: 8%;
  justify-self: left;
  padding: 0;
}

.bannerLight {
  background-image: url('./assets/images/pexels-fwstudio-139309.jpeg');
  color: var(--text-color);
  font-family: var(--westernFont);
  padding-right: 7%;
  padding-left: 7%;
  padding-bottom: 22em;
  padding-top: 3em;
}

.bannerDark {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/images/pexels-fwstudio-139309.jpeg');
  color: var(--dark-text-color);
  font-family: var(--westernFont);
  padding-right: 7%;
  padding-left: 7%;
  padding-bottom: 22em;
  padding-top: 3em;
}

#banner h1 {
  text-align: left;
  font-size: 3.9em;
  text-shadow: 3px 3px black;
  padding-bottom: 2.3em;
  padding-top: 1em;
}

#banner h2 {
  font-size: 2.1em;
  margin-left: 20%;
  padding-bottom: .9em;
  text-shadow: 1px 2px black;
}

#banner h3 {
  font-size: 2.1em;
  margin-left: 51%;
  text-shadow: 1px 2px black;

}

.shopBtnLight {
  float: right;
  margin-right: 12%;
  margin-top: 1em;
  font-size: 2em;
  border-radius: 6px;
  font-family: var(--westernFont);
  
}

 .shopBtnDark {
  float: right;
  margin-right: 12%;
  margin-top: 1em;
  font-size: 2em;
  border-radius: 6px;
  font-family: var(--westernFont);
  background-color: darkgrey;
}

.productsLight {
  padding-top: 3em;
  background-image: var(--light-background);
  padding-bottom: 3em;
  font-family: var(--westernFont);
}

.productsDark {
  padding-top: 3em;
  background-image: linear-gradient(to right, navy, black);
  padding-bottom: 3em;
  font-family: var(--westernFont);
  color: var(--dark-text-color);
}

.product {
  margin-top: 3em;
  margin-left: 20%;
  height: 9em;
  width: 9em;
  background-image: url('./assets/images/istockphoto-106548715-612x612.jpeg');
  font-size: 20px;
  border-color: black;
  border-width: 6px;
  border-style: solid;
  border-radius: 16px;
  color: var(--text-color);
  text-shadow: 3px 3px black;
  text-align: center;
}

.productDark {
  margin-top: 3em;
  margin-left: 20%;
  height: 9em;
  width: 9em;
  background-image: url('./assets/images/istockphoto-106548715-612x612.jpeg');
  font-size: 19px;
  border-color: black;
  border-width: 6px;
  border-style: solid;
  border-radius: 16px;
  color: var(--dark-text-color);
  text-shadow: 3px 2px black;
}



.prodDesc {
  padding-top: 1em;
  display: none;
}

.aboutLight {
  padding-top: 3em;
  padding-bottom: 5em;
  background-image: var(--light-background);
}

.aboutDark {
  padding-top: 3em;
  padding-bottom: 5em;
  background-image: linear-gradient(to right, navy, black);
  color: var(--dark-text-color);
}

#about h1 {
  margin-bottom: 1em;
}

#about p {
  margin-left: 6em;
  margin-right: 6em;
  font-family: var(--westernFont);
}

.contactLight {
  padding-top: 3em;
  padding-bottom: 5em;
  background-image: var(--light-background);
}

.contactDark {
  padding-top: 3em;
  padding-bottom: 5em;
  background-image: linear-gradient(to right, navy, black);
  color: var(--dark-text-color);
}

#contact h1 {
  margin-bottom: 1em;
}

form {
  margin-left: 28%;
  font-family: var(--westernFont);
}

input:not(.formBtnLight, .formBtnDark) {
  font-family: var(--visbyFont);
  border-style: solid;
  border-radius: 6px;
}

#msg {
  font-family: var(--visbyFont);
  border-style: solid;
  border-radius: 6px;
}

.formBtnLight {
  /* background-color: var(--dark-text-color); */
  /* border-style: solid;
  border-color: black; */
  border-radius: 6px;
  font-family: var(--westernFont);
  background-color: #ffffff40;
}

.formBtnDark {
  /* background-color: var(--dark-text-color); */
  border-style: solid;
  border-color: black;
  border-radius: 6px;
  font-family: var(--westernFont);
  color: var(--dark-text-color);
  background-color: #ffffff40;
}

.darkBtnLight {
 position: fixed;
 margin-top: 1.5em;
 margin-left: 19em;
 border-radius: 6px;
 font-family: var(--westernFont);
 opacity: calc(.6);
 
}

.darkBtnDark {
  position: fixed;
  margin-top: 1.5em;
  margin-left: 19em;
  border-radius: 6px;
  font-family: var(--westernFont);
  background-color: darkgrey;
  opacity: calc(.6);
 }

 /* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 325px;
  background-color: #ffffff30;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 3px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -24em;
  opacity: calc(.6);
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
/* the to opacity must match the .popup .popuptext opacity! */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: .6;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: .6;}
}

/* media queries */
.navLinkLight:hover {
  text-shadow: 1px 3px black;
  background-color: #ffffff30;
  cursor: pointer;
  border-radius: 24px;
}

.navLinkDark:hover {
  text-shadow: 1px 3px black;
  background-color: #ffffff40;
  border-radius: 18px;
  cursor: pointer;
}

#shopBtn:hover {
  background-color: #80461B;
  cursor: pointer;
}

#darkBtn:hover {
  background-image: radial-gradient(circle, white, white, black);
}


.product:hover {
  text-shadow: 3px 2px black;
  cursor: pointer;
  
}

.product:hover .prodDesc {
  display:block;
}

.formBtnLight:hover {
  background-color: whitesmoke;
  border-style: solid;
  border-color: black;
  /* text-shadow: 1px 1px gray; */
}

.formBtnDark:hover {
  border-style: solid;
  border-color: white;
  text-shadow: 1px 1px black;
}