/* variables */
:root {
  --text-color: white;
  --dark-text-color: gray;
  --font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

/* override default browser link styling */
a:-webkit-any-link{
  color: white;
}


ul {
  list-style-type: none;
  
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  background-image: linear-gradient(to right, white , white, #80461B
  );
}

li {
  display: inline;
  
}

h1 {
  text-align: center;
  }

.navlink {
  display: block;
  color: var(--text-color);
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: large;
  font-family: var(--font);
  float: right;
}


#logo {
  height: 7%;
  width: 7%;
  justify-self: left;
  padding: 0;
}

#banner {
  background-image: url('./images/pexels-fwstudio-139309.jpeg');
  color: var(--text-color);
  font-family: var(--font);
  padding-right: 7%;
  padding-left: 7%;
  padding-bottom: 4%;
  padding-top: 2%
}

#banner button {
  float: right;
  margin-right: 15%;
  font-size: large;
  font-family: var(--font);
}


/* media queries */
.navlink:hover {
  background-color: #111;
}